# Microsoft SQL Server

In this tutorial, we'll see how to query Microsoft SQL Server from Jupyter. Optionally, you can spin up a testing server.

```{tip}
If you encounter issues, feel free to join our [community](https://ploomber.io/community) and we'll be happy to help!
```

## Pre-requisites

The first step is to install the [ODBC driver for SQL Server](https://learn.microsoft.com/en-us/sql/connect/odbc/microsoft-odbc-driver-for-sql-server?view=sql-server-ver16).

- Instructions for [Linux](https://learn.microsoft.com/en-us/sql/connect/odbc/linux-mac/installing-the-microsoft-odbc-driver-for-sql-server?view=sql-server-ver16&tabs=alpine18-install%2Calpine17-install%2Cdebian8-install%2Credhat7-13-install%2Crhel7-offline)
- Instructions for [Mac](https://learn.microsoft.com/en-us/sql/connect/odbc/linux-mac/install-microsoft-odbc-driver-sql-server-macos?view=sql-server-ver16)

For example, if you're on a Mac, you can install the driver with `brew`:

```sh
/bin/bash -c "$(curl -fsSL https://raw.githubusercontent.com/Homebrew/install/master/install.sh)"
brew tap microsoft/mssql-release https://github.com/Microsoft/homebrew-mssql-release
brew update
HOMEBREW_ACCEPT_EULA=Y brew install msodbcsql18 mssql-tools18
```

## Start Microsoft SQL Server instance

If you don't have a SQL Server running or you want to spin up one for testing, you can do it with the official [Docker image](https://hub.docker.com/_/microsoft-mssql-server).

```{important}
If you're on a Mac with Apple Silicon (e.g., M1 processor), ensure you're running the latest Docker Desktop version. More info [here](https://bornsql.ca/blog/you-can-run-a-sql-server-docker-container-on-apple-m1-and-m2-silicon/).
```


To start the server:

In [1]:
%%bash
docker run -e "ACCEPT_EULA=Y" \
    -e "MSSQL_SA_PASSWORD=MyPassword!" \
    -p 1433:1433 \
    -d mcr.microsoft.com/mssql/server:2022-latest

WARNING: The requested image's platform (linux/amd64) does not match the detected host platform (linux/arm64/v8) and no specific platform was requested

b5793627a92416360095ac149ea1805e5b958a2d4a4620a050a911fe5df7f3ac

```{important}
Ensure you set a strong password, otherwise the container will shut down silently!
```

Ensure that your container is running (run the command a few seconds after running the previous one to ensure it dind't shut down silently):

In [2]:
%%bash
docker ps

CONTAINER ID   IMAGE      COMMAND                  CREATED          STATUS          PORTS                    NAMES
94fa1f440c4c   postgres   "docker-entrypoint.s…"   49 minutes ago   Up 49 minutes   0.0.0.0:5432->5432/tcp   postgres

If you have issues with the previous command, you can try with [SQL Edge](https://medium.com/geekculture/docker-express-running-a-local-sql-server-on-your-m1-mac-8bbc22c49dc9):

In [3]:
%%bash
docker run -e "ACCEPT_EULA=1" -e "MSSQL_SA_PASSWORD=MyPassword!" \
    -e "MSSQL_PID=Developer" -e "MSSQL_USER=sa" \
    -p 1433:1433 -d --name=sql mcr.microsoft.com/azure-sql-edge

393a1a19b4bbffa70d2e58323be735b865eca8bd48b7788aa9e4c126d5d4a353

Ensure the server is running (wait for a few seconds before running it):

In [4]:
%%bash
docker ps

CONTAINER ID   IMAGE                              COMMAND                  CREATED          STATUS                  PORTS                              NAMES
393a1a19b4bb   mcr.microsoft.com/azure-sql-edge   "/opt/mssql/bin/perm…"   1 second ago     Up Less than a second   1401/tcp, 0.0.0.0:1433->1433/tcp   sql
94fa1f440c4c   postgres                           "docker-entrypoint.s…"   49 minutes ago   Up 49 minutes           0.0.0.0:5432->5432/tcp             postgres

## Installing `pyodbc`


`pyodbc` will allow us to connect to SQL Server. If you're on macOS or Linux, you need to install unixODBC. Note that when installing the ODBC driver on macOS using `brew`, unixODBC is also installed.


Install `pyodbc` with:

```sh
pip install pyodbc
```

```{note}
If you're on a Mac with Apple Silicon (e.g., M1 processor), you might encounter issues, if so, try thi:

~~~sh
pip install pyodbc==4.0.34
~~~
```

Verify a successful installation with:

In [6]:
import pyodbc

Verify that `pyodbc` is able to findn the SQL Server driver:

In [7]:
pyodbc.drivers()

['ODBC Driver 18 for SQL Server']

```{tip}
If the driver doesn't appear, uninstalling `pyodbc` and re-installing it again might fix the problem.

If you're on a Mac with Apple Silicon, ensure you installed `pyodbc` with `pip`, since `conda` might lead to issues.
```

## Starting the connection

To start the connection, execute the following, change the values to match your SQL Server's configurationo:

In [17]:
from sqlalchemy import create_engine
from sqlalchemy.engine import URL

connection_url = URL.create(
    "mssql+pyodbc",
    username="sa",
    password="MyPassword!",
    host="localhost",
    port=1433,
    database="master",
    query={
        "driver": "ODBC Driver 18 for SQL Server",
        "Encrypt": "yes",
        "TrustServerCertificate": "yes",
    },
)
engine = create_engine(connection_url)

```{note}
If using `pytds`, the `autocommit` feature is disabled since it's not compatible with JupySQL.
```

Install, load the Jupyter extension and start the connection:

In [9]:
%pip install jupysql --quiet

Note: you may need to restart the kernel to use updated packages.

In [18]:
%load_ext sql
%sql engine

The sql extension is already loaded. To reload it, use:
  %reload_ext sql

```{note}

If you see the following error:

~~~
InterfaceError: (pyodbc.InterfaceError) ('IM002', '[IM002] [unixODBC][Driver Manager]Data source name not found and no default driver specified (0) (SQLDriverConnect)')
(Background on this error at: https://sqlalche.me/e/14/rvf5)
~~~

It might be that you're missing the SQL Server ODBC driver or that `pyodbc` cannot find it.

```


## Load sample data

Let's upload some sample data:

In [15]:
import pandas as pd

df = pd.read_parquet(
    "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet"
)
df.shape

(1369769, 19)

In [30]:
df.sample(100_000).to_sql(
    name="taxi", con=engine, chunksize=100_000, if_exists="replace"
)

-1

## Query

Query the new table:

In [38]:
%%sql
select COUNT(*) FROM taxi

*  mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[(100000,)]

List the tables in the database:

In [43]:
%sqlcmd tables

+-----------------------+
|          Name         |
+-----------------------+
|       languages       |
| MSreplication_options |
|    spt_fallback_db    |
|    spt_fallback_dev   |
|    spt_fallback_usg   |
|      spt_monitor      |
|          taxi         |
+-----------------------+

List columns in the taxi table:

In [44]:
%sqlcmd columns --table taxi

+-----------------------+------------------------------------------------+----------+---------+---------------+
|          name         |                      type                      | nullable | default | autoincrement |
+-----------------------+------------------------------------------------+----------+---------+---------------+
|         index         |                     BIGINT                     |   True   |   None  |     False     |
|        VendorID       |                     BIGINT                     |   True   |   None  |     False     |
|  tpep_pickup_datetime |                    DATETIME                    |   True   |   None  |     False     |
| tpep_dropoff_datetime |                    DATETIME                    |   True   |   None  |     False     |
|    passenger_count    |                     FLOAT                      |   True   |   None  |     False     |
|     trip_distance     |                     FLOAT                      |   True   |   None  |     False     |
|       RatecodeID      |                     FLOAT                      |   True   |   None  |     False     |
|   store_and_fwd_flag  | VARCHAR COLLATE "SQL_Latin1_General_CP1_CI_AS" |   True   |   None  |     False     |
|      PULocationID     |                     BIGINT                     |   True   |   None  |     False     |
|      DOLocationID     |                     BIGINT                     |   True   |   None  |     False     |
|      payment_type     |                     BIGINT                     |   True   |   None  |     False     |
|      fare_amount      |                     FLOAT                      |   True   |   None  |     False     |
|         extra         |                     FLOAT                      |   True   |   None  |     False     |
|        mta_tax        |                     FLOAT                      |   True   |   None  |     False     |
|       tip_amount      |                     FLOAT                      |   True   |   None  |     False     |
|      tolls_amount     |                     FLOAT                      |   True   |   None  |     False     |
| improvement_surcharge |                     FLOAT                      |   True   |   None  |     False     |
|      total_amount     |                     FLOAT                      |   True   |   None  |     False     |
|  congestion_surcharge |                     FLOAT                      |   True   |   None  |     False     |
|      airport_fee      |                     FLOAT                      |   True   |   None  |     False     |
+-----------------------+------------------------------------------------+----------+---------+---------------+

## Parametrize queries

In [39]:
threshold = 10

In [40]:
%%sql
SELECT COUNT(*) FROM taxi
WHERE trip_distance < {{threshold}}

*  mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[(94675,)]

In [41]:
threshold = 0.5

In [42]:
%%sql
SELECT COUNT(*) FROM taxi
WHERE trip_distance < {{threshold}}

*  mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[(5344,)]

## CTEs

You can break down queries into multiple cells, JupySQL will build a CTE for you:

In [45]:
%%sql --save many_passengers --no-execute
SELECT *
FROM taxi
WHERE passenger_count > 3
-- remove top 1% outliers for better visualization
AND trip_distance < 18.93

*  mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Skipping execution...

In [46]:
%%sql --save trip_stats --with many_passengers
SELECT MIN(trip_distance), AVG(trip_distance), MAX(trip_distance)
FROM many_passengers

*  mssql+pyodbc://sa:***@localhost:1433/master?Encrypt=yes&TrustServerCertificate=yes&driver=ODBC+Driver+18+for+SQL+Server
Done.

[(0.0, 2.536800993124519, 18.9)]

This is what JupySQL executes:

In [47]:
query = %sqlrender trip_stats
print(query)

WITH "many_passengers" AS (
SELECT *
FROM taxi
WHERE passenger_count > 3
-- remove top 1% outliers for better visualization
AND trip_distance < 18.93)
SELECT MIN(trip_distance), AVG(trip_distance), MAX(trip_distance)
FROM many_passengers

## Clean up

In [56]:
%%bash
docker container ls

CONTAINER ID   IMAGE                              COMMAND                  CREATED             STATUS             PORTS                              NAMES
393a1a19b4bb   mcr.microsoft.com/azure-sql-edge   "/opt/mssql/bin/perm…"   15 minutes ago      Up 15 minutes      1401/tcp, 0.0.0.0:1433->1433/tcp   sql
94fa1f440c4c   postgres                           "docker-entrypoint.s…"   About an hour ago   Up About an hour   0.0.0.0:5432->5432/tcp             postgres

In [57]:
%%bash
docker container stop sql

sql

In [58]:
%%bash
docker container rm sql

sql

In [59]:
%%bash
docker container ls

CONTAINER ID   IMAGE      COMMAND                  CREATED             STATUS             PORTS                    NAMES
94fa1f440c4c   postgres   "docker-entrypoint.s…"   About an hour ago   Up About an hour   0.0.0.0:5432->5432/tcp   postgres