# Table Explorer


```{versionadded} 0.7.6
~~~
pip install jupysql --upgrade
~~~
```

In this guide, we demonstrate how to use JupySQL's table explorer to visualize SQL tables in HTML format and interact with them efficiently. By running SQL queries in the background instead of loading the data into memory, we minimize the resource consumption and processing time required for handling large datasets, making the interaction with the SQL tables faster and more streamlined.


Let's start by preparing our dataset. We'll be using the [NYC taxi dataset](https://www.nyc.gov/site/tlc/about/tlc-trip-record-data.page).

## Download the data

In [ ]:
from pathlib import Path
from urllib.request import urlretrieve

url = "https://d37ci6vzurychx.cloudfront.net/trip-data/yellow_tripdata_2021-01.parquet"

if not Path("yellow_tripdata_2021-01.parquet").is_file():
    urlretrieve(url, "yellow_tripdata_2021.parquet")

## Installation

In [ ]:
%pip install jupysql --upgrade --quiet

## Set connection

After our dataset is ready, we should set our connection.

For this demonstration, we'll be using the `DuckDB` connection.

In [ ]:
%load_ext sql
%sql duckdb://

## Create the table

To create the table, use the `explore` attribute and specify the name of the table that was just downloaded.

In [ ]:
%sqlcmd explore --table "yellow_tripdata_2021.parquet"

See interactive and live example on [Binder](https://binder.ploomber.io/v2/gh/ploomber/jupysql/master?urlpath=lab/tree/doc/user-guide/table_explorer.ipynb).